@import "tailwindcss";

@keyframes typewriter {
  0% {
    width: 0ch;
  }
  50% {
    width: 22ch;
  }
  100% {
    width: 0ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white;
  animation: typewriter 5s steps(22) infinite, blink 0.7s step-end infinite;
  display: inline-block;
}
